<div class="container-narrow">
  <%= simple_form_for @form, html: { class: "form-horizontal" } do |f| %>
    <%= f.input :image, as: :file%>
    <%= f.input :copyright %>
    
    <%= f.submit %>
  <% end %>
</div>
