$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477dca !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;
$base-font-color: $dark-gray !default;
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Roboto Slab', serif;
